
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1478599194786'); /* IE9*/
  src: url('iconfont.eot?t=1478599194786#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1478599194786') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1478599194786') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1478599194786#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangyoujiantou:before { content: "\e65e"; }

.icon-sousuo:before { content: "\e686"; }

.icon-cross:before { content: "\e637"; }

.icon-set:before { content: "\e643"; }

.icon-jinlingyingcaiwangtubiao54:before { content: "\e6d5"; }

.icon-shoucang:before { content: "\e60b"; }

.icon-redian:before { content: "\e636"; }

.icon-icon:before { content: "\e638"; }

.icon-xiajiang:before { content: "\e725"; }

.icon-zuojiantou:before { content: "\e615"; }

.icon-wo:before { content: "\e64c"; }

.icon-che:before { content: "\e6a8"; }

.icon-cunweicaogao:before { content: "\e692"; }

.icon-faxian:before { content: "\e67e"; }

.icon-youhuiquan2:before { content: "\e70f"; }

.icon-1:before { content: "\e6c0"; }

.icon-tuijian:before { content: "\e62f"; }

.icon-qq:before { content: "\e611"; }

.icon-paixing:before { content: "\e61c"; }

.icon-weixin-copy:before { content: "\e60f"; }

.icon-shalongluntan:before { content: "\e676"; }

.icon-fenlei:before { content: "\e501"; }

.icon-weibo:before { content: "\e610"; }

